body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-right: 10%;
}

img.size {
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 350px;
}

.name {
	text-align: center;
	font-size: 64px;
	border-radius: 25px;
	border: 2px solid;
	background-color: #89cff0;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 20%;
	margin-right: 20%;
}

.center{
	text-align: center;
	color: #4B0082;
}

.contact{
	font-size: 12px;
	color: #89cff0;
}
